/*fonts*/

@font-face {
    font-family: lobster;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Lobster.ttf") format("truetype");
}

@font-face {
    font-family: oswald-bold;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Oswald-Bold.ttf") format("truetype");
}

@font-face {
    font-family: oswald-light;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: oswald;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: sans-web-bold;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
}

@font-face {
    font-family: sans-web-bolditalic;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: sans-web-italic;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PT_Sans-Web-Italic.ttf") format("truetype");
}

@font-face {
    font-family: sans-web;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}
